body {
	background: rgba(0,0,0,.3);
}

a {
	text-decoration: none;
	font-family: Calibri, Helvetica;
}

#keyboard {
	background: rgba(0,0,0,.1);
	width:800px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 12px;

	-webkit-transition: -webkit-transform 300ms ease-out;
	-webkit-transform : translate3d(0, 250px, 0);

}
#keyboard.ui-state-open {
	-webkit-transform : translate3d(0, 0, 0);
}

.input.text {
	text-align: center;
	margin: 2em 0;
}
.input.text .wrap {
	display: inline-block;
	border-radius: 12px;
	background: rgba(0,0,0,.4);
}

input#search {
	background: transparent none;
	-webkit-appearance: none;
	border: medium none;
	outline: none;

	font-family: Calibri, Helvetica;
	font-size: 36px;
	height: 60px;
	color: #fff;
	margin: 0 24px;
}

.keyboard.keyboard-shift-active li.key a.letter, .keyboard.keyboard-shift-active li.key a.symbol { text-transform:uppercase; }
.keyboard ul.keyboard {
  list-style:none;
  margin:1em 0 0 0;
}
.keyboard ul.keyboard div { text-align:center; }
.keyboard ul.keyboard li.key {
  display:inline-block;
  vertical-align:top;
}
.keyboard ul.keyboard li.key div.subkeys {
  background:-webkit-gradient(linear,left top,left bottom,from(#bebfc2),to(#737373));
  border:1px solid #727272;
  border-radius:5px;
  display:block;
  position:absolute;
  margin-left:0;
  top:-52px;
}
.keyboard ul.keyboard li.key a {
  display:inline-block;
  width:46px;
  height:42px;
  line-height:42px;
  margin:4px;
  text-align:center;
  font-size:17px;
  color:#404040;
  -webkit-box-shadow:#b2b2b2 0px 0px 1px;
  text-shadow:#ffffff 0px 1px 0px;
  background:-webkit-gradient(linear,left top,left bottom,from(white),to(#eaeaea));
  border:1px solid #929292;
  border-radius:5px;
}
.keyboard ul.keyboard li.key a:active, .keyboard ul.keyboard li.key a.ui-state-active {
  color:#ffffff;
  text-shadow:#888888 0px 1px 0px;
  background:-webkit-gradient(linear,left top,left bottom,from(#ffa500),to(#ff9600));
  border:1px solid transparent;
}
.keyboard ul.keyboard li.key a.special {
  background:-webkit-gradient(linear,left top,left bottom,from(#bebfc2),to(#737373));
  border:1px solid #727272;
}
.keyboard ul.keyboard li.key a.special .ui-button-text { display:none; }
.keyboard ul.keyboard li.key a.special:active, .keyboard ul.keyboard li.key a.special.ui-state-active {
  color:#ffffff;
  text-shadow:#888888 0px 1px 0px;
  background:-webkit-gradient(linear,left top,left bottom,from(#ffa500),to(#ff9600));
  border:1px solid transparent;
}
.keyboard ul.keyboard li.key a.special-space {
  background:-webkit-gradient(linear,left top,left bottom,from(white),to(#eaeaea));
  border:1px solid #929292;
  width:346px;
}
.keyboard ul.keyboard li.key a.special-space .ui-button-text { display:none; }
.keyboard ul.keyboard li.key a.special-backspace { background:url("../img/backspace.png"), -webkit-gradient(linear,left top,left bottom,from(#bebfc2),to(#737373)); }
.keyboard ul.keyboard li.key a.special-backspace:active, .keyboard ul.keyboard li.key a.special-backspace.ui-state-active { background:url("../img/backspace-active.png"), -webkit-gradient(linear,left top,left bottom,from(#ffa500),to(#ff9600)); }
.keyboard ul.keyboard li.key a.special-shift { background:url("../img/shift.png"), -webkit-gradient(linear,left top,left bottom,from(#bebfc2),to(#737373)); }
.keyboard ul.keyboard li.key a.special-shift:active, .keyboard ul.keyboard li.key a.special-shift.ui-state-active { background:url("../img/shift.png"), -webkit-gradient(linear,left top,left bottom,from(#ffa500),to(#ff9600)); }
.keyboard ul.keyboard li.key a.special-return { background:url("../img/return.png"), -webkit-gradient(linear,left top,left bottom,from(#bebfc2),to(#737373)); }
.keyboard ul.keyboard li.key a.special-return:active, .keyboard ul.keyboard li.key a.special-return.ui-state-active { background:url("../img/return.png"), -webkit-gradient(linear,left top,left bottom,from(#ffa500),to(#ff9600)); }
.keyboard ul.keyboard li.key a.special-toggle-numbers { background:url("../img/numbers.png"), -webkit-gradient(linear,left top,left bottom,from(#bebfc2),to(#737373)); }
.keyboard ul.keyboard li.key a.special-toggle-numbers:active, .keyboard ul.keyboard li.key a.special-toggle-numbers.ui-state-active { background:url("../img/numbers.png"), -webkit-gradient(linear,left top,left bottom,from(#ffa500),to(#ff9600)); }
.keyboard ul.keyboard li.key a.special-toggle-symbols { background:url("../img/symbols.png"), -webkit-gradient(linear,left top,left bottom,from(#bebfc2),to(#737373)); }
.keyboard ul.keyboard li.key a.special-toggle-symbols:active, .keyboard ul.keyboard li.key a.special-toggle-symbols.ui-state-active { background:url("../img/symbols.png"), -webkit-gradient(linear,left top,left bottom,from(#ffa500),to(#ff9600)); }
.keyboard ul.keyboard li.key a.special-toggle-letters { background:url("../img/letters.png"), -webkit-gradient(linear,left top,left bottom,from(#bebfc2),to(#737373)); }
.keyboard ul.keyboard li.key a.special-toggle-letters:active, .keyboard ul.keyboard li.key a.special-toggle-letters.ui-state-active { background:url("../img/letters.png"), -webkit-gradient(linear,left top,left bottom,from(#ffa500),to(#ff9600)); }
